body {				
		background-color: #81BEF7;
		}

#wrapper {	
		max-width: 920px; 
		width: 100%;
		margin: 0 auto;
		background-color: #D8D8D8;
		}
		
		
header { 	
		font-size:10px; 
		text-align: center;
		margin: auto; 
		background-color: white; 
		height:250px;
		width: 920px;
		}

nav {		
		float:right;
		background-color: #848484;
		}
		
.btnNav {
		height: 2em;
		line-height: 2em;
		color:white;
		font-size: 2em;
		width: 306px;
		background-color: #555555;
		}		
	
form {
		float:left;
		background-color: #555555;
		}

.btnNav:hover { 
		font-style:oblique;
		}		

button:active {
   		background:red;
		}

footer {	
		background-color: #848484;
		clear:both;
		width: 100%;
		max-width: 920px;
		height: 30px;
		color: #FFFFFF;
		position:fixed;
		bottom: 0;
		}

#footer-content {
		text-align:center;
	    font-size: 12px;
		font-family: Verdana, Geneva, Arial, sans-serif;
		padding-top: 1.25%;
		}

section {	
		padding-top: 70px;
		margin-right: 10px;
		margin-left: 10px;
		}

h2 {		font-size: 2em;
		padding-top: 0.5%;
		padding-bottom: 6%;
		font-family: Verdana, Geneva, Arial, sans-serif;
		}
		
p {
		font-family: Geneva, Arial, Verdana, sans-serif;
		font-size:0.9em;
		line-height: 1.5;
		padding-bottom: 2%;
		}
		
.header-image {   
		text-align:center;
		width: 800px;
		margin: auto;
		display:block;
		height: 250px;
		}


